<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Woodpecker puzzle</title>
    <link rel="stylesheet" type="text/css" href="css/chessground.base.css">
    <link rel="stylesheet" type="text/css" href="css/chessground.brown.css">
    <link rel="stylesheet" type="text/css" href="css/chessground.cburnett.css">
    <style>
        #chessground {
            width: 700px;
            height: 700px;
        }

        cg-board {
            background-color: #e9d5b0

        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="module">
        import { Chessground } from '/js/chessground.js';
        import { Chess } from '/js/chess.js'
        import { config } from '/js/groundConfig.js'
        import { playMoveSound, shuffle } from '/js/helpers.js'
        import player from './js/index.js';
        import { getPuzzle, getHundredPuzzleIds } from '/js/client.js'
        var ids = await getHundredPuzzleIds() ?? ['00008']
        // var ids =  ['Y0vaH']
        ids = shuffle(ids)
        var $score = $('#score')
        var score = 0
        // console.log(puzzle)
        // var fen = puzzle.Fen
        // var moves = puzzle.Moves
        //  var game = new Chess(fen)
        // const ground = Chessground(document.getElementById('chessground'), config)

        // var fen = '2k5/R7/p7/5B1P/2p3P1/n3KP2/8/3q4 b - - 1 37'
        // var moves = ['c8d8', 'a7d7', 'd1d7', 'f5d7', 'd8d7', 'h5h6', 'c4c3', 'f3f4', 'a3c2', 'e3d3', 'c2d4', 'h6h7']
        var puzzle = null
        var fen  = null
        var moves = null
        var game  = null
        var ground  = null
        ground = Chessground(document.getElementById('chessground'), config)

        await initGame()

        async function initGame(){
            puzzle = await getPuzzle(ids.shift())
            fen = puzzle.Fen
            config.fen= fen
            moves = puzzle.Moves
            game = new Chess(fen)
            console.log(fen)
            var nextMoveTurn = game.turn() == 'w' ? 'black' : 'white'
            config.turnColor =  nextMoveTurn
            config.movable.color = nextMoveTurn
            config.orientation = nextMoveTurn
            ground.set(config)
            movePiece(moves.shift())
            if (ids.length < 10){
                var newIds =  await getHundredPuzzleIds()
                ids = ids.concat(newIds)
            }
        }

        function checkLegality(source, desct, capturedPiece){
            console.log(source + ' to ' + desct)
            var fenBeforeMove = game.fen()
            
            var move = game.move({
                from: source,
                to: desct.substr(0,2),
                promotion: desct.substr(2,1) ?? 'q' // promote to queen if all else fails
            })
            // illegal move
            if (move === null){
                config.fen = fenBeforeMove
                config.lastMove = undefined
                ground.set(config)
                playMoveSound(move, capturedPiece.captured)
                return false
            }
            playMoveSound(move, capturedPiece.captured)
            return true
        }

        function onInsert(){
            // console.log('onInsert')
        }
        function onSelect(key){
            // console.log('onSelect') 
        }
        function ondropNewPiece(){
            //  console.log('ondropNewPiece')
        }
        function onafterNewPiece(){
            //  console.log('onafterNewPiece')
        }
        function onChange(source, desct, metadata){
            //  console.log('On change!')
            
        }
        function onMove(source, desct, capturedPiece){
            //  console.log('On move!')
        }
      
        async function onAfterMove(source, desct, metadata){
            console.log('onAfterMove')
            // Promotion logic
            var destRow = desct.substr(1,1)
            var promotedPiece = ''
            var movedPieceIsPawn = game.get(source).type == 'p'
            if(movedPieceIsPawn && (destRow == '8' || destRow == '1')){
                promotedPiece = getPromotedPiece()
            }
            desct = desct + promotedPiece

            // Checking if move is legal
            if (!checkLegality(source, desct, metadata)){
                return false
            }

            config.turnColor =  game.turn() == 'w' ? 'white' : 'black'
            config.movable.color = config.turnColor
            fen = game.fen()
            config.fen = fen
            ground.set(config)
            var nextMove = moves.shift()
            console.log(source+desct +' --- ' + nextMove)
            if (source+desct == nextMove || game.game_over()){
                if (moves.length == 0){
                    console.log('WIN')
                    score += 1
                    $score.html(score)
                    setTimeout(1300)
                    await initGame()
                    ground.redrawAll()
                }
                else if (moves.length > 0){
                    console.log('next move')
                    movePiece(moves.shift())
                }
            } 
            else{
                resetGui()
            }
        }

        function movePiece(uci){
            var start = uci.substr(0,2)
            var end  = uci.substr(2,2)
            var promotion = uci.substr(4,1)
            var game_move = {from: start, to: end, promotion: promotion}
            
            ground.move(start, end)
            var move = game.move({
                from: start,
                to: end,
                promotion: promotion})

            fen = game.fen()
            config.fen = fen
            ground.set(config)
            config.turnColor =  game.turn() == 'w' ? 'white' : 'black'
            config.movable.color = config.turnColor
            ground.set(config)
            playMoveSound(move, move.captured)
        }

        function resetGui(){
            console.log('RESET')
            score = 0
            $score.html(score)
        }
        config.movable = {
                free: true,
                events: {
                    after: onAfterMove
                }
            }
        config.events ={
                change: onChange,
                move: onMove,
                select: onSelect,
                insert: onInsert,
                dropNewPiece: ondropNewPiece,
                afterNewPiece: onafterNewPiece
            } 
        fen = game.fen()
        config.fen = fen
        ground.set(config)
        
        const element = document.getElementById("reset");
        element.addEventListener("click", function() {
            initGame()
            ground.redrawAll()
            resetGui()
        });

        document.getElementById('sizeRange').oninput = function(){resizeBoard()}; 
        
        function getPromotedPiece(){
            // if (!confirm('You want a queen?')){
            //     if (!confirm('You want a horsey?')){

            //     }
            // } else return 'q'

           return   confirm('You want a queen?') ? 'q' :
                        confirm('You want a rook?') ? 'r' :
                            confirm('You want a horsey?') ? 'n' : 
                                confirm('You want a bisop?') ? 'b' 
                                    : 'q' 
        }

        function resizeBoard(){
            var newSize = document.getElementById('sizeRange').value
            console.log(newSize)
            document.getElementById('chessground').style.height = newSize + 'px'
            document.getElementById('chessground').style.width = newSize  + 'px'
        }
    
    </script>
</head>
<body>
    <div id="chessground"></div>
    <span>Score is: <span id="score">0</span></span>
    <button id="reset">Restart</button>
    <div class="slidecontainer" >
        <input autocomplete="off" type="range" min="400" max="1200" value="700" class="slider" id="sizeRange">
    </div>

</body>
</html>